<a href="https://colab.research.google.com/github/nemuelpalomo/Python-Crash-Course/blob/main/Chapter_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##5-1 Conditional Tests

In [18]:
#True

car = "ferrari"

print(f"Is the car a ferrari? I think it is True.\n")
print(car == "ferrari")

car2 = "bmw"
print(f"\nThe car is not a 'bmw', Are you sure? I think it is True.\n")
print(car2 == "bmw")

num1 = 52
num2 = 32+20
print(f"\nAre both numbers Equal? True")
print(num1 == num2)

#False

car3 = "lamborghini"
print(f"\nThe car #3 is a Honda.")
print(car3 == "honda")

car4 = "toyota"
print(f"\nThe car #4 is not a ford, its a toyota. So the answer is False")
print(car4 == "ford")

num3 = 21
num4 = 22
print(f"\nnum3 and num4 are equal")
print(num3 == num4)

Is the car a ferrari? I think it is True.

True

The car is not a 'bmw', Are you sure? I think it is True.

True

Are both numbers Equal? True
True

The car #3 is a Honda.
False

The car #4 is not a ford, its a toyota. So the answer is False
False

num3 and num4 are equal
False

##5-2 More Conditional Tests

In [32]:
string1 = "hahaha"
string2 = "HAHAHA"

print(f"String 1 and String 2 are not the same because of upper case and lower case so it is {string1 == string2}.")

print(f"\n Now that we set string2 to .lower() which makes the variable all lower case the result is now {string1 == string2.lower()}.")

String 1 and String 2 are not the same because of upper case and lower case so it is False.

 Now that we set string2 to .lower() which makes the variable all lower case the result is now True.

In [54]:
number = 52
number_1 = 32
number_2 = 22
equalizer = [52, 32, 22]

print(f"52 >= 32? {(number) >= (number_1)}.\n")
print(f"52 <= 22? {(number) <= (number_2)}.\n")
print(f"52 = 52? {(equalizer[0]) == (number)}.\n")


#Using the 'and' condition, must be both true.

print(f"52 = 52 and 32 = 32? {number == equalizer[0] and equalizer[1] == number_1}.\n")    

#Using the 'or' condition, it will become true whether one of the statements are false.

print(f"22 = 22 or 32 >= 52? {equalizer[2] == number_2 or number_1 >= equalizer[1]}.")

52 >= 32? True.

52 <= 22? False.

52 = 52? True.

52 = 52 and 32 = 32? True.

22 = 22 or 32 >= 52? True.

In [58]:
list1 = [1, 2, 3, 4, 5]

if 1 in list1:               #In the list? Tawa ka
  print("AHAHAHA\n")

if 6 not in list1:           #Not in the list? Gago 
  print("WALA GAGO")

AHAHAHA

WALA GAGO