<a href="https://colab.research.google.com/github/nemuelpalomo/Python-Crash-Course/blob/main/Chapter_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##6-1 Person

In [ ]:
nemuel = {
    'first_name': 'Nemuel',
    'last_name': 'Palomo',
    'age': '24',
    'city': 'San Francisco'
          }

for keys in nemuel:
  print(nemuel[keys])

Nemuel
Palomo
24
San Francisco

##6-2 Favorite Number

In [ ]:
favorite_numbers = {
    'nemuel': 11,
    'rico': 7,
    'palomo': 1.00,
    'janna': 2.1,
    'yawa': 5
}

for favs in favorite_numbers:
    print(f"'{favs.title()}' favorite number is {favorite_numbers[favs]}.\n")

'Nemuel' favorite number is 11.

'Rico' favorite number is 7.

'Palomo' favorite number is 1.0.

'Janna' favorite number is 2.1.

'Yawa' favorite number is 5.

##6-3 Glossary

In [ ]:
glossary = {
    'for': 'iteration',
    'if': 'conditional if',
    'bool': 'true and false',
    'string': 'words or sentences',
    'float': 'a number with decimal places'
}


for iteration in glossary:
  print(f"{iteration}:\n {glossary[iteration]}\n")

for:
 iteration

if:
 conditional if

bool:
 true and false

string:
 words or sentences

float:
 a number with decimal places

##6-4 Glossary 2

In [ ]:
glossary2 = {
    'for': 'iteration.',
    'if': 'conditional if.',
    'bool': 'true and false.',
    'string': 'words or sentences.',
    'float': 'a number with decimal places.',
    'indentation': 'a space for readibility through a scope.',
    'operators': 'arithmetic operators such as addition, subtraction, multiplication, and division.',
    'list': 'a container that can store any kind of values.',
    'tuple': 'a similar container as list with a difference that you cannot modify the values.',
    'index': 'number location of specific value stored in a list or tuples, the first index value should be 0.'
}


for key, value in glossary2.items():
  print(f"\nKey: '{key}'")
  print(f"Value: '{value}'")

Key: 'for'
Value: 'iteration.'

Key: 'if'
Value: 'conditional if.'

Key: 'bool'
Value: 'true and false.'

Key: 'string'
Value: 'words or sentences.'

Key: 'float'
Value: 'a number with decimal places.'

Key: 'indentation'
Value: 'a space for readibility through a scope.'

Key: 'operators'
Value: 'arithmetic operators such as addition, subtraction, multiplication, and division.'

Key: 'list'
Value: 'a container that can store any kind of values.'

Key: 'tuple'
Value: 'a similar container as list with a difference that you cannot modify the values.'

Key: 'index'
Value: 'number location of specific value stored in a list or tuples, the first index value should be 0.'

##6-6 Polling

In [ ]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python'
}

users = ['nemuel', 'rico', 'jen', 'sarah', 'jana']

for user in users:
  if user in favorite_languages.keys():
    print(f"The user {user.title()} have taken the poll already!\n")
  elif user not in favorite_languages.keys():
    print(f"You should take the poll {user.title()}!\n")

You should take the poll Nemuel!

You should take the poll Rico!

The user Jen have taken the poll already!

The user Sarah have taken the poll already!

You should take the poll Jana!

##6-7 People

In [ ]:
nemuel = {
    'first_name': 'Nemuel',
    'last_name': 'Palomo',
    'age': '24',
    'city': 'San Francisco'
        }

liam = {
    'first_name': 'Liam',
    'last_name': 'Orgado',
    'age': '22',
    'city': 'San Francisco'
        }

hem = {
    'first_name': 'Wilhelmn',
    'last_name': 'Palomo',
    'age': '19',
    'city': 'Los Angeles'
        }

people = [nemuel, liam, hem]

for betlog in people:
  name = f"{betlog['first_name']} {betlog['last_name']}"
  age = betlog['age']
  location = betlog['city']

  print(f"{name}, is in {location} and is {age} years old.\n")

Nemuel Palomo, is in San Francisco and is 24 years old.

Liam Orgado, is in San Francisco and is 22 years old.

Wilhelmn Palomo, is in Los Angeles and is 19 years old.

##6-8 Pets

In [9]:
pets = []


pet = {
    'name': 'yoshi',
    'kind': 'cat',
    'owner': 'nemuel'
    }
pets.append(pet)


pet = {
    'name': 'blacky',
    'kind': 'dog',
    'owner': 'rey'
    }
pets.append(pet)

for pet in pets:
  print(f"{pet['owner'].title()} owns {pet['name'].title()} which is a {pet['kind'].title()}.\n")

Nemuel owns Yoshi which is a Cat.

Rey owns Blacky which is a Dog.

##6-9 Favorite Places

In [15]:
favorite_places = {
    'nemuel': ['city', 'province', 'metro'],
    'rico': ['alley', '90210', 'streets'],
    'palomo': ['metro', 'mega-city', 'classy']
}

for name, places in favorite_places.items():
  print(f"\n{name.title()} favorite locations are:")
  for place in places:
    print(f"- {place.title()}.")

Nemuel favorite locations are:
- City.
- Province.
- Metro.

Rico favorite locations are:
- Alley.
- 90210.
- Streets.

Palomo favorite locations are:
- Metro.
- Mega-City.
- Classy.

##6-10 Favorite Numbers

In [19]:
favorite_numbers = {
    'nemuel': [11, 61, 25, 69],
    'rico': [7, 21, 225, 612, 1],
    'palomo': [1.00, 521, 22, 636],
    'janna': [2.1, 251, 99, 2910],
    'yawa': [5, 5, 5, 'tuna']
}

for name, numbers in favorite_numbers.items():
  print(f"\n{name.title()} favorite numbers are:")
  for number in numbers:
    print(f"- {number}")

Nemuel favorite numbers are:
- 11
- 61
- 25
- 69

Rico favorite numbers are:
- 7
- 21
- 225
- 612
- 1

Palomo favorite numbers are:
- 1.0
- 521
- 22
- 636

Janna favorite numbers are:
- 2.1
- 251
- 99
- 2910

Yawa favorite numbers are:
- 5
- 5
- 5
- tuna

##6-11 Cities

In [38]:
cities = {
    'metro manila': {
        'country': 'philippines',
        'population': '14.5 million',
        'fact': "Metro Manila is one of Asias premier regions composed of 16 cities and 1 municipality."
    },
    'new york': {
        'country': 'usa',
        'population': '8.85 million',
        'fact': 'Honking Your Horn Is Illegal.'
    },
    'tokyo': {
        'country': 'japan',
        'population': '37.8 million',
        'fact': 'Tokyo was originally named Edo.'
    }
}


for city, city_info in cities.items():
  country = city_info['country'].title()
  population = city_info['population']
  fact = city_info['fact']

  print(f"{city.title()} is in {country}.\n")
  print(f"  Population: {population} as of 2022.")
  print(f"  Fact: {fact}\n")

Metro Manila is in Philippines.

  Population: 14.5 million as of 2022.
  Fact: Metro Manila is one of Asias premier regions composed of 16 cities and 1 municipality.

New York is in Usa.

  Population: 8.85 million as of 2022.
  Fact: Honking Your Horn Is Illegal.

Tokyo is in Japan.

  Population: 37.8 million as of 2022.
  Fact: Tokyo was originally named Edo.

##6-12 Extensions

In [45]:
cities = {
    'metro manila': {
        'country': 'philippines',
        'population': '14.5 million',
        'fact': "Metro Manila is one of Asias premier regions composed of 16 cities and 1 municipality.",
        'cost-of-living': "P100,000 monthly."
    },
    'new york': {
        'country': 'usa',
        'population': '8.85 million',
        'fact': 'Honking Your Horn Is Illegal.',
        'cost-of-living': "P624,450 monthly before taxes."
    },
    'tokyo': {
        'country': 'japan',
        'population': '37.8 million',
        'fact': 'Tokyo was originally named Edo.',
        'cost-of-living': "P212,150 monthly without rent."
    }
}


for city, city_info in cities.items():
  country = city_info['country']
  population = city_info['population']
  fact = city_info['fact']
  cost = city_info['cost-of-living']
  if country == 'usa':
    print(f"{city.title()} is in {country.upper()}.\n")
  else:
    print(f"{city.title()} is in {country.title()}.\n")
  print(f"  Population: {population} as of 2022.")
  print(f"  Fact: {fact}")
  print(f"  Cost of Living: {cost}\n")

Metro Manila is in Philippines.

  Population: 14.5 million as of 2022.
  Fact: Metro Manila is one of Asias premier regions composed of 16 cities and 1 municipality.
  Cost of Living: P100,000 monthly.

New York is in USA.

  Population: 8.85 million as of 2022.
  Fact: Honking Your Horn Is Illegal.
  Cost of Living: P624,450 monthly before taxes.

Tokyo is in Japan.

  Population: 37.8 million as of 2022.
  Fact: Tokyo was originally named Edo.
  Cost of Living: P212,150 monthly without rent.