<a href="https://colab.research.google.com/github/nemuelpalomo/Python-Crash-Course/blob/main/Chapter_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##5-1 Conditional Tests

In [18]:
#True

car = "ferrari"

print(f"Is the car a ferrari? I think it is True.\n")
print(car == "ferrari")

car2 = "bmw"
print(f"\nThe car is not a 'bmw', Are you sure? I think it is True.\n")
print(car2 == "bmw")

num1 = 52
num2 = 32+20
print(f"\nAre both numbers Equal? True")
print(num1 == num2)

#False

car3 = "lamborghini"
print(f"\nThe car #3 is a Honda.")
print(car3 == "honda")

car4 = "toyota"
print(f"\nThe car #4 is not a ford, its a toyota. So the answer is False")
print(car4 == "ford")

num3 = 21
num4 = 22
print(f"\nnum3 and num4 are equal")
print(num3 == num4)

Is the car a ferrari? I think it is True.

True

The car is not a 'bmw', Are you sure? I think it is True.

True

Are both numbers Equal? True
True

The car #3 is a Honda.
False

The car #4 is not a ford, its a toyota. So the answer is False
False

num3 and num4 are equal
False

##5-2 More Conditional Tests

In [32]:
string1 = "hahaha"
string2 = "HAHAHA"

print(f"String 1 and String 2 are not the same because of upper case and lower case so it is {string1 == string2}.")

print(f"\n Now that we set string2 to .lower() which makes the variable all lower case the result is now {string1 == string2.lower()}.")

String 1 and String 2 are not the same because of upper case and lower case so it is False.

 Now that we set string2 to .lower() which makes the variable all lower case the result is now True.

In [54]:
number = 52
number_1 = 32
number_2 = 22
equalizer = [52, 32, 22]

print(f"52 >= 32? {(number) >= (number_1)}.\n")
print(f"52 <= 22? {(number) <= (number_2)}.\n")
print(f"52 = 52? {(equalizer[0]) == (number)}.\n")


#Using the 'and' condition, must be both true.

print(f"52 = 52 and 32 = 32? {number == equalizer[0] and equalizer[1] == number_1}.\n")    

#Using the 'or' condition, it will become true whether one of the statements are false.

print(f"22 = 22 or 32 >= 52? {equalizer[2] == number_2 or number_1 >= equalizer[1]}.")

52 >= 32? True.

52 <= 22? False.

52 = 52? True.

52 = 52 and 32 = 32? True.

22 = 22 or 32 >= 52? True.

In [58]:
list1 = [1, 2, 3, 4, 5]

if 1 in list1:               #In the list? Tawa ka
  print("AHAHAHA\n")

if 6 not in list1:           #Not in the list? Gago 
  print("WALA GAGO")

AHAHAHA

WALA GAGO

##5-3 Alien Colors #1

In [61]:
alien_color = 'green'

#The if statement passes the test, therefore we got an output.

if alien_color == 'green':
  print("You just got 5 pts!")

#The if statement failed the test, there we got no output.

if alien_color == 'red':         
  print("You just got 3 pts!")

You just got 5 pts!

##5-4 Alien Colors #2

In [71]:
#If statements to output every if test whatever color it is.


alien_color_green = 'green'
alien_color_red = 'red'
alien_color_blue = 'blue'

if alien_color_green == 'green':
  print("You just got 10pts!")
if alien_color_red == 'red':
  print("You just got 5pts!")
if alien_color_blue == 'blue':
  print("You just got 3pts!\n")





#For loop until the green alien is shot.

alien_color = ['red', 'blue', 'green']

for color in alien_color:
  if color == 'green':
    print("You just shot the green one!")
  else:
    print("You missed the green one!")

You just got 10pts!
You just got 5pts!
You just got 3pts!

You missed the green one!
You missed the green one!
You just shot the green one!

##5-5 Alien Colors #3

In [73]:
alien_kulay = 'yellow'

if alien_kulay == 'green':
  print("The player earned 5pts")
elif alien_kulay == 'red':
  print("The player earned 15pts")
else:
  print("The player killed the yellow one and earned 10 pts.")

The player killed the yellow one and earned 10 pts.

In [79]:
age = 22

if age < 2:
  print("He's a baby.")
elif age < 4:
  print("He's a toddler.")
elif age < 13:
  print("He's a kid.")
elif age < 20:
  print("He's a teenager.")
elif age < 65:
  print("He's an adult.")
else:
  print("He's an elder!")

He's an adult.

##5-7 Favorite Fruit

In [82]:
#Independent if statements


paboritong_prutas = ['saging', 'mansanas', 'ubas']

if 'saging' in paboritong_prutas:
  print("Mahilig ka sa saging tropa!\n")
if 'mansanas' in paboritong_prutas:
  print("Abay mahilig ka din sa mansanas!\n")
if 'ubas' in paboritong_prutas:
  print("Tarap nyan lods ubas.\n")
if 'ponkan' not in paboritong_prutas:
  print("Yots di mahilig sa ponkan... :(")

Mahilig ka sa saging tropa!

Abay mahilig ka din sa mansanas!

Tarap nyan lods ubas.

Yots di mahilig sa ponkan... :(

##5-8 Hello Admin

In [84]:
usernames = ['Nemuel', 'Rico', 'Liam', "Hem", 'Admin']

for users in usernames:
  if users.lower() == 'admin':
    print("Hello Admin! Would you like to see a status report?\n")
  else:
    print(f"Hello {users.title()}, How are you today?")

Hello Nemuel, How are you today?
Hello Rico, How are you today?
Hello Liam, How are you today?
Hello Hem, How are you today?
Hello Admin! Would you like to see a status report?

##5-9 No Users

In [87]:
emptyusers = []

for users in emptyusers:
  if users == 'admin':
    print("Hello Admin!")
  else:
    print(f"Hello {users}!")
else:
    print("We need to find some users!")

We need to find some users!

##5-10 Checking Usernames

In [98]:
current_users = ['jologs', 'barkos', 'betlogs', 'tologs', 'jeprox']

new_users = ['burgok', 'jologs', 'awitzz', 'klong', 'jeprox', 0.2]

for user in new_users:
  if user in current_users:
    print(f"Isip ka ng bago gamit na yan tropa, '{user}'.\n")
  elif user not in current_users:
    print(f"'{user}', Pwede to tropa wala pang nakakagamit :)\n")
  else: 
    print("Ano yan lods?")

'burgok', Pwede to tropa wala pang nakakagamit :)

Isip ka ng bago gamit na yan tropa, 'jologs'.

'awitzz', Pwede to tropa wala pang nakakagamit :)

'klong', Pwede to tropa wala pang nakakagamit :)

Isip ka ng bago gamit na yan tropa, 'jeprox'.

'0.2', Pwede to tropa wala pang nakakagamit :)

##5-11 Ordinal Numbers

In [101]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for number in number_list:
  if number == 1:
    print("1st")
  elif number == 2:
    print("2nd")
  elif number == 3:
    print("3rd")
  else:
    print(f"{number}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th